@media (min-width:769px)/*ordinateurs*/
{
    header
    {
    display: flex; 
    }

    header .logo
    {
        height: auto;
        width: 50%;
        margin: 20px 413px;
    }

    .localisation i
    {
        margin-left: 562px;
        font-size: 25px;
    }

    .localisation p
    {
        margin: 5px -577px;
        font-size: 30px;
    }

}

@media (max-width:768px)/*tablettes*/
{

}