/*************************Généraux**************************************/
/* Police d'écriture */

/* Logo & titres */
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
/* Textes */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body
{
    font-family: Roboto, sans-serif;/*police du texte*/
    margin: 0;
}

h1, i
{
    font-family: Shrikhand;/*Police titres et logos*/
}

/***************************EN-TETE*****************************************/
header
{
    background-color: white;
    width: 100%;
}

header .logo
{
   height: auto;
   width: 50%;
   margin: 12px 90px;
}

/*********************************AVANT ASIDE*********************************/
.localisation
{
   background-color:#e2e2e2 ;/*gris légèrement foncé*/
   height: 50px;
   display: flex;
   border-top: 1px groove #e7e7e7;/*bordure*/
}

.localisation i
{
    color: black;
    display: flex;
    align-items: center;
    margin-left: 93px;
    font-size: 20px;
}

.localisation p
{
    justify-content: center;
    text-align: center;
    margin: 13px -99px;
    color: black;
    font-size: 20px;
    width: 100%;
}

/*********************************ASIDE*************************************/
.decouverte .infos
{
    background-color: #f1f0f0cb;/*gris clair*/
    padding: 14px 0px 57px 19px;
}

.decouverte .infos .gras
{
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    width: 90%;
}

.decouverte .infos .gris
{
    color: #5a5a5a;/*gris moyennement foncé*/
    width: 100%;
    text-align: center;
    font-size: larger;
    margin: -19px 0px 41px -9px;
}

.decouverte .infos .btn
{
    background: linear-gradient(#FF79DA, #9356DC);/*arrière plan dégradé haut en bas*/
    border-radius: 30px;
    border: none;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    margin: 10px 35px;
    box-shadow: 1px 1px 5px rgb(82, 81, 81);
    height: 60px;
    cursor: pointer;
    text-decoration: none;
}

.decouverte .infos .btn:hover 
{
    filter: brightness(1.1);
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
}

/**************************SECTION FONCTIONNEMENT***************************/
.titre
{
    font-size: 25px;
    margin: 55px 0px 32px 15px;
}

.fonctionnement
{
   padding: 1px 0px 50px 5px;
}

.fonctionnement .vignettes
{
    background-color: #f1f0f0cb;
    margin: 21px 20px;
    display: flex;
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgb(82, 81, 81);
}

.fonctionnement .vignettes:hover
{
    background-color: #ecdffc;
    cursor: pointer;
}


.fonctionnement .vignettes .numero
{
    color: white;
    background-color: #9356DC;
    border-radius: 30px;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center ;
    margin: 17px 49px 0px -12px;
}

.fonctionnement .vignettes i
{
    color: black;
    display: flex;
    align-items: center;
    margin: 0px 24px 0px -31px;
}

.fonctionnement .vignettes:hover i
{
    color: #9356DC;
}

/**************************SECTION RESTAURANTS***************************/
.restaurants
{
    background-color: #f1f0f0cb;
    width: 100%;
    height: 1305px;
    padding: 40px 0px 20px 20px;
}

.restaurants .titre
{
    margin-top: 0;
}

.restaurants .cartes
{
    width: 330px;
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    border-radius: 17px 17px 17px 17px;
    margin: 15px 0px;
    box-shadow: 1px 1px 5px rgb(82, 81, 81);
}

.restaurants .cartes .liennav-active
{
    text-decoration: none;
}

.restaurants .coeur 
{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin-right: 20px;
    width: 30px;
}

.restaurants .coeur .coeur-plein
{
    position: absolute;
    fill: url(#text-fill);
    stroke: none;
    width: 30px;
    margin: -39px 0px 0px 255px;
}

.restaurants .coeur .coeur-vide
{
    width: 30px;
    position: absolute;
    fill: white;
    stroke: black;
    stroke-width: 30;
    margin: -39px 0px 0px 255px;
}

.restaurants .cartes .liennav-active .nouveau
{
    position: relative;
    background-color: #99E2D0;
    color: #018d6a;
    width: 100px;
    text-align: center;
    margin: -244px 0px 244px 210px;
    border-radius: 5px;
}

.restaurants .cartes .image
{
    width: 330px;
    height: 200px;
    display: flex;
    border-radius: 17px 17px 0 0 ;
}

.restaurants .cartes h4
{
    margin: 15px 0px 0px 15px;
    font-weight: bold;
    font-size: 22px;
    color: black;
    display: flex;
}

.restaurants .cartes p
{
    font-size: 20px;
    margin: 5px 0px 0px 15px;
    color: rgb(145, 145, 145);
}

.restaurants .cartes i
{
    color: grey;
    height: 30px;
    display: flex;
}

/**************************PIEDS DE PAGE***************************/
.footer
{
    background-color: rgb(43, 43, 43);
    color: white;
    padding: 7px 0px 1px 10px;
    height: 245px;
}

.footer .logo
{
    font-size: 25px;
    font-style: italic;
    margin-left: 20px;
    font-family: serif;
}

.footer .proposer, .partenaire, p
{
    margin-left: 30px;
}

.footer i
{
    display: flex;
    align-items: center;
    margin: 0px 0px -35px 0px;
}

.footer .contact
{
    text-decoration: none;
    color: white;
}

.footer .contact:hover
{
    text-decoration: underline 2px;
    color: #99E2D0;
}
